
.node-form .drupal-tabs {
    font-weight: 700;
    line-height: 1;
    font-size: 12px;
}
.node-form .drupal-tabs ul {
    list-style: none;
    margin: 0px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #AAA;
    line-height: 22px;
}

.node-form .drupal-tabs ul li {
    display: inline;
    margin: 0;
    padding: 2px 2px;
}

.node-form .drupal-tabs ul li a {
    border: 1px solid #AAA;
    background: #FFF;
    margin: 0;
    padding: 2px 6px 4px;
}

.node-form .drupal-tabs ul li.ui-tabs-selected a {
  background: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  color: #444;
}

.node-form .drupal-tabs ul li.active a {
    border-bottom: 1px solid #F0F0F0;
    background: #F0F0F0;
}

.node-form .tabs-tabset .form-item {
    margin: 0 0 0.5em;
    background: none;
    padding-left: 0;
    padding-right: 0;
}

.node-form .tabs-tabset {
    background: #F0F0F0;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    margin-bottom: 10px;
    padding: 10px;
}

.node-form .tabs-tabset .description {
    padding: 0.5em 0 10px;
    margin-bottom: 0.8em;
    font-weight: normal;
}

.clear {
    clear: both;
}

#content-area ul.tabs {
  padding:0;
}

.tab-content {
    float: left;
    margin-top: 10px;
    font-weight: normal;
    color:#333;
}
.doublewide .tab-content, .wide .tab-content, .doublenarrow .tab-content {
    line-height: 1.4em;
}
.narrow .tab-content {
    line-height: 1.4em;
    
}
html .pagetabs-nav ul {
  margin-bottom:0;
}

html .pagetabs-nav ul li a {
    color: #555;
    line-height: 1;
}


